/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Inheritance */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56f9b, #28b485a7),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;

  backface-visibility: hidden; /*fixes shaking esp. w/ animation or 3d effects*/
}

.heading-primary-head {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveFromLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
  /* animation-delay: 3s; */
  /* animation-iteration-count: 3; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.4px;
  font-weight: 700;

  /* animation-name: moveFromRight;
  animation-duration: 1.2s;
  animation-timing-function: ease-out; */
  animation: moveFromRight 1.2s ease-in-out;
}

/*NOTE: Animation */
@keyframes moveFromLeft {
  /* initial state */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  /* end state */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  /* initial state */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  /* end state */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromButton {
  /* initial state */
  0% {
    opacity: 0; /* This will apply immediately due to "backwards" */
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* pseudo class */
/* initial state */
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;

  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* while clicking */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-hero {
  animation: moveFromButton 0.5s ease-out 0.75s;

  animation-fill-mode: backwards; /* Applies the first keyframe’s styles before the animation starts, even during the delay */
}
